<p id="notice"><%= notice %></p>

<p>
  <b>title:</b>
  <%= @case.title %>
</p>

<p>
  <b>Nature:</b>
  <%= @case.nature %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @case.subtitle %>
</p>

<p>
  <b>Description:</b>
  <%= @case.description %>
</p>

<p>
  <b>Link:</b>
  <%= @case.link %>
</p>

<p>
  <b>Credit:</b>
  <%= @case.credit %>
</p>


<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
