<p id="notice"><%= notice %></p>


<p>
  <b>Image:</b>
  <%= image_tag(@image.name) if @image.name%>
</p>

<p>
  <b>Case:</b>
  <%= @image.case_id if @image.name%>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
